<nav class="navigation">
  <ul class="menu">
    <li class="item">
      <a class="link" routerLink="home">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-caption">Dash</span>
      </a>
    </li>
    <li class="item">
      <a class="link" routerLink="monthly-report">
        <mat-icon>summarize</mat-icon>
        <span class="nav-caption">Monthly Report</span>
      </a>
    </li>
    <li class="item">
      <a class="link" routerLink="users">
        <mat-icon>people</mat-icon>
        <span class="nav-caption">Users</span>
      </a>
    </li>
    <li class="item">
      <a class="link" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </li>
  </ul>
</nav>
