// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monthly-report-fe-primary: mat.define-palette(mat.$deep-purple-palette);
$monthly-report-fe-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// $mor50: #ede7f6;
// $mor100: #d1c4e9;
// $mor200: #b39ddb;
// $mor300: #9575cd;
// $mor400: #7e57c2;
// $mor600: #5e35b1;
// $mor700: #512da8;
// $mor800: #4527a0;
// $mor900: #311b92;
// $morA100: #b388ff;
// $morA200: #7c4dff;
// $morA400: #651fff;
// $morA700: #6200ea;
:root {
  --mor-primary: #673ab7;
  --mor-primary-rgb: rgb(103, 58, 183);
  --mor-danger: #f44336;
  --mor-danger-light: #ef9a9a;
}

// The warn palette is optional (defaults to red).
$monthly-report-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$monthly-report-fe-theme: mat.define-light-theme(
  (
    color: (
      primary: $monthly-report-fe-primary,
      accent: $monthly-report-fe-accent,
      warn: $monthly-report-fe-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($monthly-report-fe-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
